{% extends 'main/base.html' %} {% load static %} {% block content %}

<!-- navbar starts -->
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo">Social Issue Project</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href={% url 'login' %}>Login</a></li>
      <li><a href={% url 'logout' %}>Logout</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="{% url 'create_issue' %}">Create Issue</a></li>
      <li class="tab"><a href="{% url 'my_issues' %}">My Issues</a></li>
      <li class="tab"><a href="{% url 'my_issues' %}">Filter Issues</a></li>
    </ul>
  </div>
</nav>

<!-- card and collection starts -->

<ul class="collection">
  {% for issue in issues %}
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"
              ><a href="{% url 'particular_issue' issue.id %}"
                >{{issue.title}}</a
              >
              by {{issue.user}}</span
            >
            <p>{{issue.description}}</p>
          </div>
          <div class="card-action">
            <a href="#">Like {{issue.get_likes}}</a>
            <a href="{% url 'particular_issue' issue.id %}"
              >Comment {{issue.get_comments}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<!--Pagination-->
  <ul class="pagination">
    <li class="waves-effect"><a href="?page=1">First</a></li>
    {% if  issues.has_next %}
      <li class="waves-effect"><a href="?page={{issues.next_page_number}}">Next</a></li>
    {% endif %}
    {% if issues.has_previous %}
      <li class="waves-effect"><a href="?page={{issues.previous_page_number}}">Prev</a></li>
    {% endif %}
    <li class="waves-effect"><a href="?page={{issues.paginator.num_pages}}">Last</a></li>
  </ul>

{% endblock content %}
